@media only screen and (max-width: 600px){
    .btn{
        display: inline-block;
    }
    nav ul li {
        display: block;
        margin-top: 20px;
    }
    nav ul li{
        position: relative;
        transform: translateY(-900%);
        transition: all 0.4s ease;
    }
    .openNav ul li{
        transform: translateY(0);
        position: relative;
    }
    .footer .col-1 img{
        width: 15%;
    }
}